Flask==3.1.2
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
gunicorn==25.0.1
numpy==2.4.2
pandas==3.0.0
scikit-learn==1.8.0
SQLAlchemy==2.0.46
Werkzeug==3.1.5
WTForms==3.2.1
python-dotenv==1.2.1
email-validator==2.3.0
alembic==1.18.3
imbalanced-learn==0.14.1
google-generativeai==0.8.6
grpcio==1.76.0
grpcio-status==1.76.0